<div id="header">
  <div class="error-message">
    <h1>Vær venlig at skrive dit navn :)</h1>
  </div>
  <div class="image">
    <div class="information">
      <div href="" class="question-circle-link"><i class="fa fa-question-circle fa-2x"></i></div>
    </div>
    <div class="gray_box">
      <h1 class="heading">Ballon fortælling</h1>
      <hr class="seperator">

      <div class="input-section">
        <h5 class="question">Hej, hvad hedder du?</h5>
        <input type="input" class="input-name" name="name" value="" placeholder="Dit navn">
      </div>
    </div>
    <button type="button" class="start-btn" name="button">Start fortælling</button>
  </div>
</div>
