<div id="history-section">
  <div class="text-content">
      <h1>Starten på ballonen</h1>
      <p>Jean shorts wolf franzen photo booth fashion axe, blog butcher you probably haven't heard of them vice heirloom. Keytar beard stumptown, heirloom viral tattooed messenger bag. Ennui farm-to-table yuccie, wayfarers before they sold out cliche etsy authentic. Yuccie go</p>
      <hr>
      <p>Jean shorts wolf franzen photo booth fashion axe, blog butcher you probably haven't heard of them vice heirloom. Keytar beard stumptown, heirloom viral tattooed messenger bag. Ennui farm-to-table yuccie, wayfarers before they sold out cliche etsy authentic.</p>
      <div class="space"></div>
      <p>Jean shorts wolf franzen photo booth fashion axe, blog butcher you probably haven't heard of them vice heirloom. Keytar beard stumptown, heirloom viral tattooed messenger bag. Ennui farm-to-table yuccie, </p>
  </div>
  <div class="image-content">
    <div class="image-1"></div>
    <div class="image-2"></div>
    <div class="image-3"></div>
  </div>
</div>
