<div id="history-section">
  <div class="text-content">
      <h1>Starten på ballonen</h1>
      <p>Efter en del eksperimenter med ballonen, begyndte det at blive meget populært. Efter den første bemandede flyvning, udførte fysikeren J.A.C Charles den første bemandede flyvning i en brintballon. Ballonen var blevet et meget populært fænomen og 17-1800-tallets bønder var skræmt fra vid og sans. Det siges at bønderne har angrebet ballonerne med høtyve.</p>
      <hr>
      <p>I 1. og 2. Verdenskrig så man gasballoner blive brugt til observation formål. I dag ser man at luftballoner bliver brugt som reklameballoner, ved at have et logo på en ‘normal’ ballon eller ved at have en ballon formet som f.eks. en ølflaske. Luftballoner bliver også brugt som hobbyer for folk der er interesseret i ballonflyvning enten som en sport eller som en interesse/oplevelse.</p>
      <div class="space"></div>
      <p>I dag bliver små ubemandede sonde balloner (gasballoner), med en radiosonde brugt til at måle vindforhold, temperaturer og tryk mm. i højere luftlag. Balloner kan også blive brugt til videnskabelige formål, eller som på HTX - Roskilde hvor man fik til opgave at bygge sine egne balloner, ved hjælp af Matematik, Fysik, Kemi mm. til sidst blev de sendt op luften for at blive testet.</p>
  </div>
  <div class="image-content">
    <div class="image-1"></div>
    <div class="image-2"></div>
    <div class="image-3"></div>
  </div>
</div>
