<div id="introduction">
  <div class="container">
    <video poster="video/Nature-Sunset.jpg" autoplay="true" loop>
      <source src="video/Nature-Sunset.mp4" type="video/mp4">
      <source src="video/Nature-Sunset.webm" type="video/webm">
    </video>
    <!-- <img src="../images/ic_expand_more_black_24px.svg" class="chev-down" alt=""> -->
    <div class="transparent-box">
    </div>
  </div>
</div>


<div class="content">
  <div class="smaller-devices">
    <h1>Ballonens betydning i dag</h1>
    <p>Hej <span class="user_name"></span>. Vidste du at Luftballonen var det fartøj der fik mennesket til at flyve fra jorden for første gang? Luftballonens skabere regnes for at være brødrene Joseph og Étienne Montgolfier, der den 5. juni 1783 opsendte en ubemandet lærreds ballon, der på det tidspunkt var en stor sensation. Selvom brødrene regnes for at have opfundet ballonen, mener mange at luftballonen kan spores helt tilbage til Kina i begyndelsen af 1300-tallet.</p>
    <hr>
    <p>De to Montgolfier brødre var sønner af en papirfabrikant. En dag mens de legede med lette papirposer, opdagede de at når papirsposerne kom hen over den åbne varme, steg de opad. Efter de havde opdaget det, begyndte de to brødre at eksperimentere med større sække lavet af noget andet materiale, der var lidt mere solidt en papir.</p>
    <div class="space"></div>
    <p>I september samme år (1783) opsendte brødrene en luftballon med henholdsvis et får, en and og en hane. Ballonen var lavet af papir og blev opvarmet af et bål af våd halm og fåreuld. Alle ombord på luftballonen kom ned i god behold. Dette forsøg blev udført i Versailles, for at få tilladelse af kong Ludvig XVI til at lave forsøg med mennesker ombord, som senere fandt sted (d. 21. november 1783). Luftballonen med menneskerne bar Pilâtre de Rozier og Marques d’Arlandes, og blev navngiver “Montgolfiere” efter de to brødre. Hele turen varede 25 minutter, i 100 meters højde over en strækning på 9 kilometer.</p>
  </div>
</div>


<!--
<div class="new-content"></div>
<div class="new-content2"></div> -->
