#footer
  width: 100%
  height: 100%
  position: absolute
  z-index: 3
  margin-top: 800px


  .image
    background:
      image: url("../images/balloon-footer.png")
      // https://images.unsplash.com/photo-1414546394137-673d6fe1512e?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300
      size: cover

    position: absolute
    left: 0
    right: 0
    top: 100px
    height: 100%
    width: 100%

    .footer-content
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)

      h1
        color: white
        font:
          size: 30px
          weight: 900
        margin: 50px 0 0
        text-align: center

      hr
        height: 5px
        background: white
        border: none
        width: 50%
        margin: 0 auto

      .links

        margin: 50px auto

        a
          font:
            size: 20px
            weight: 200
          color: white
          margin: 0

        .link-seperator
          height: 20px
          width: 1px
          margin: 0 20px
          background: white
          display: inline-block


@media(max-width: 700px)
  #footer .image .footer-content
    left: 50%
    top: 40%
    transform: translate(-50%, -40%)

    h1
      font-size: 25px

    hr
      width: 70%

    .links
      text-align: center

      .link-seperator
        margin: 20px auto
        display: block
        width: 50px
        height: 1px
