.video-fixed

#introduction
  z-index: 1

  .container
    video
      width: 100%
      height: auto
      position: relative
      top: 0


    .transparent-box
      position: relative
      background: transparent
      height: 800px
      min-height: 800px
      width: 30%
      z-index: 2



.content
  position: relative
  height: 1000px
  width: 30%
  background: red
  z-index: 2
